<?xml version="1.0" encoding="utf-8"?>
<!-- Configures NuGet. Must be in the same folder as the solution - or in any of the parent folders of
     this folder.

     See: https://docs.microsoft.com/en-us/nuget/consume-packages/configuring-nuget-behavior
-->
<configuration>
    <packageSources>
        <!-- This is the folder where the "PackageProducer" project creates its NuGet package in. -->
        <add key="Local" value="./_Packages/LocalPackagesSource" />
    </packageSources>
    <config>
        <!-- This defines the folder where NuGet extracts the "downloaded" NuGet packages to.
             Usually, this is ~/.nuget/packages but this folder can be hard to locate. Also we
             don't really want to "pollute" the main folder with these test packages.
        -->
        <add key="globalPackagesFolder" value="./_Packages/_PackagesStorage" />
    </config>
</configuration>
